In [1]:
# importing necessary libraries
import mysql.connector
import pandas as pd

In [2]:
# connecting mysql server
database = mysql.connector.connect(host="localhost",user="root",passwd= "root1",database="project12")
cursor = database.cursor()
query2 = "select*from patient21"

In [3]:
cursor.execute(query2)

In [4]:
table_rows = cursor.fetchall()

In [5]:
df = pd.read_sql('SELECT * FROM patient21', con=database) 
print(df)

   cust_ID     Name   Open_date  Consult_dt VAC_ID  Dr_Name State Country  \
0      321    Nilam  2021-09-01  2022-09-02    CSD    Megha    MH     IND
1      349   Shital  2021-08-05  2022-08-05    CSD    Nayan    SA     USA
2      457   manish  2021-09-05  2022-10-05    CSD  kaushal   WAS    PHIL
3      488   yogesh  2021-09-08  2022-10-22    CSD  kaushal   BOS     NYC
4      496  shubham  2021-09-04  2022-10-08    CSD  kamlesh   VIC      AU
5      499    meera  2021-04-09  2022-06-06    CSD    kamya    TN     IND

          DOB Active
0  1998-04-04      A
1  1998-09-06      A
2  1994-04-02      A
3  1992-06-01      A
4  1993-01-09      A
5  1995-04-06      A

In [6]:
df.set_index(['cust_ID'], inplace=True)  # setting default index
print (df)

            Name   Open_date  Consult_dt VAC_ID  Dr_Name State Country  \
cust_ID
321        Nilam  2021-09-01  2022-09-02    CSD    Megha    MH     IND
349       Shital  2021-08-05  2022-08-05    CSD    Nayan    SA     USA
457       manish  2021-09-05  2022-10-05    CSD  kaushal   WAS    PHIL
488       yogesh  2021-09-08  2022-10-22    CSD  kaushal   BOS     NYC
496      shubham  2021-09-04  2022-10-08    CSD  kamlesh   VIC      AU
499        meera  2021-04-09  2022-06-06    CSD    kamya    TN     IND

                DOB Active
cust_ID
321      1998-04-04      A
349      1998-09-06      A
457      1994-04-02      A
488      1992-06-01      A
496      1993-01-09      A
499      1995-04-06      A

In [7]:
ans = df.loc[df['Country'] == "IND"]

In [8]:
def show_data(country):
    data = df.loc[df['Country'] == country]
    print(data)

In [9]:
def get_file(country):
    data = df.loc[df['Country'] == country]
    file_name = str(country)
    data.to_csv('C:/Users/yogesh/Downloads/' + country + ".csv")  # replace path with your desired path
    print("File has been created to the specified path")

In [10]:
# calling functions

show_data("IND")
get_file("IND")

          Name   Open_date  Consult_dt VAC_ID Dr_Name State Country  \
cust_ID
321      Nilam  2021-09-01  2022-09-02    CSD   Megha    MH     IND
499      meera  2021-04-09  2022-06-06    CSD   kamya    TN     IND

                DOB Active
cust_ID
321      1998-04-04      A
499      1995-04-06      A
File has been created to the specified path